[submodule "RE-UE4SS"]
	path = libs/RE-UE4SS
	url = https://github.com/UE4SS-RE/RE-UE4SS.git
[submodule "libs/tomlplusplus"]
	path = libs/tomlplusplus
	url = https://github.com/marzer/tomlplusplus.git
[submodule "libs/UTF-N"]
	path = libs/UTF-N
	url = https://github.com/Fischsalat/UTF-N
