[submodule "RE-UE4SS"]
	path = libs/RE-UE4SS
	url = https://github.com/UE4SS-RE/RE-UE4SS.git
[submodule "libs/tomlplusplus"]
	path = libs/tomlplusplus
	url = https://github.com/marzer/tomlplusplus.git
[submodule "libs/SN2-SDK"]
	path = libs/SN2-SDK
	url = https://github.com/LabrynthKing/SN2-SDK
